<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>

<div class="container mx-auto p-4">
    <p-panel header="Asistencia general">
        <p-breadcrumb class="w-full max-w-full" [model]="items"></p-breadcrumb>
        <br />
    </p-panel>
</div>

<div class="card p-4">
    <!-- Contenedor principal -->
    <div class="flex flex-wrap lg:flex-nowrap items-center gap-4 w-full">
        <!-- Contenedor de Fechas -->
        <div class="flex flex-wrap gap-4 w-full lg:flex-row lg:items-end">
            <!-- Fecha de Inicio -->
            <div class="w-full sm:w-auto">
                <label for="startDate" class="block font-medium text-gray-700 mb-2">Fecha de Inicio:</label>
                <p-calendar
                    dateFormat="dd/mm/yy"
                    [maxDate]="minStartDate"
                    [(ngModel)]="startDate"
                    inputId="startDate"
                    class="w-full"
                    placeholder="Selecciona una fecha"
                    [showIcon]="true"
                    (onDateSelect)="validateDates()"
                ></p-calendar>
            </div>

            <!-- Fecha Fin -->
            <div class="w-full sm:w-auto">
                <label for="endDate" class="block font-medium text-gray-700 mb-2">Fecha Fin:</label>
                <p-calendar
                    dateFormat="dd/mm/yy"
                    [(ngModel)]="endDate"
                    [maxDate]="maxEndDate"
                    inputId="endDate"
                    class="w-full "
                    placeholder="Selecciona una fecha"
                    [showIcon]="true" 
                    (onDateSelect)="validateDates()"
                    
                ></p-calendar>
            </div>
             <div class="w-full sm:w-auto">
                <label class="block font-medium text-gray-700 mb-2">Selecciona marcadores</label>
                    <p-multiSelect [options]="relojesAsistencia" optionLabel="marcadorProveedorDesc" 
                    [(ngModel)]="relojesSeleccionados" optionValue="sn"
                    placeholder="Seleccione marcadores"
                    class="w-full md:w-80" [maxSelectedLabels]="1"
                    >

                </p-multiSelect>
             </div>
             <!-- <div class="w-full sm:w-auto">
                <button
                    pButton
                    type="button"
                    label="Buscar"
                    icon="pi pi-search"
                    (click)="Buscar()"
                    styleClass="p-button-sm p-button-success btn-info-pj"
                    id="btnbuscar"></button>
             </div>
             <div class="w-full sm:w-auto">
                <button
                pButton
                type="button"
                label="Exportar"
                icon="pi pi-file-excel"
                (click)="generarArchivoCarga()"                
                styleClass="p-button-sm p-button-success mr-2"></button>
             </div> -->
        </div>

        <!-- Botones -->
        <div class="flex justify-end">
            
            
                <button
                    pButton
                    type="button"
                    label="Buscar"
                    icon="pi pi-search"
                    (click)="Buscar()"
                    class="p-button-sm p-button-success mr-2 btn-info-pj"
                    id="btnbuscar"
                ></button>
            
            
            <button
                pButton
                type="button"
                label="Exportar"
                icon="pi pi-file-excel"
                (click)="generarArchivoCarga()"
                
                class="p-button-sm p-button-success mr-2  btn-info-pj"
            ></button>
        </div>
    </div>

    <!-- Tabla -->
    <div class="mt-6 overflow-x-auto">
        <p-table
            #dt1
            [value]="Asistenciagenerales"
            dataKey="id"
            editMode="row"
            [paginator]="true"
            [rows]="10"
            [rowsPerPageOptions]="[5, 10, 20]"
            [loading]="loading"
            responsiveLayout="scroll"
            [filters]="filters"
        >
            <ng-template pTemplate="header">
                <tr>
                    <th>Fecha</th>
                    <th>Hora</th>
                    <th>Nro Documento</th>
                    <th>Nombres y Apellidos</th>
                    <th>Nombre Marcador</th>
                </tr>
                <tr>
                    <th></th>
                    <th></th>
                    <th>
                        <p-columnFilter
                            type="text"
                            field="codigoEmpleado"
                            placeholder="Código"
                            [showMenu]="false"
                            MatchMode="contains"
                        ></p-columnFilter>
                    </th>
                    <th>
                        <p-columnFilter
                            type="text"
                            field="nombreEmpleado"
                            placeholder="Nombres"
                            [showMenu]="false"
                            MatchMode="contains"
                        ></p-columnFilter>
                    </th>
                    <th>
                        <p-columnFilter
                            type="text"
                            field="nombreMarcador"
                            placeholder="Marcador"
                            [showMenu]="false"
                            MatchMode="contains"
                        ></p-columnFilter>
                    </th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-rowData>
                <tr>
                    <td>{{ rowData.fechaFormateada }}</td>
                    <td>{{ rowData.tiempoFormateado }}</td>
                    <td>{{ rowData.codigoEmpleado }}</td>
                    <td>{{ rowData.nombreEmpleado }}</td>
                    <td>{{ rowData.nombreMarcador }}</td>
                </tr>
            </ng-template>

            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="5" class="text-center">No se encontraron registros.</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
